html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

p {
  font-size: 18px;
}

small {
  font-size: 14px;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.navbar {
  border-bottom: 1px solid #edeeef;
  img {
    height: 2.5rem;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 20px 3rem 20px;

  h3 {
    margin-bottom: 70px;
  }
}

#not-found-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.btn-yellow {
  color: #fff;
  background-color: #FCB027;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
}

.btn-white {
  color: #62B8E2;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
}

.section-hero {
  position: relative;
  background: rgb(247,247,247);
  background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(225,227,231,1) 100%);
  background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(225,227,231,1) 100%);
  background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(225,227,231,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e1e3e7',GradientType=0 );
  margin-bottom: 0;
  height: 90vh;

  .hero-text-container {
    z-index: 1;
  }

  .hero-image-container {
    background-image: url('../static/images/hero_bg.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    position: absolute;
    bottom: 0;
  }

  .hero-text {
    margin-top: -35vh;
    margin-bottom: 10vh;
  }

  .btn-hero {
    text-align: center;
  }
}

.section-what-we-do {
  background: rgb(225,227,231);
  background: -moz-linear-gradient(top, rgba(225,227,231,1) 0%, rgba(255,255,255,1) 24%);
  background: -webkit-linear-gradient(top, rgba(225,227,231,1) 0%,rgba(255,255,255,1) 24%);
  background: linear-gradient(to bottom, rgba(225,227,231,1) 0%,rgba(255,255,255,1) 24%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e3e7', endColorstr='#ffffff',GradientType=0 );
  h4 {
    color: #000;
    margin-bottom: 2rem;
  }
  .what-we-do-items {
    padding-bottom: 60px;
  }
}

.section-team {
  background: #F7F7F7;
  min-height: 50vh;

  .team-member {
    padding-bottom: 60px;

    .team-image {
      margin-bottom: 20px;
      max-height: 175px;
    }
  }
}

.section-partners {
  background: #fff;
  min-height: 50vh;
}

.section-career {
  min-height: 50vh;
  background-image: url('../static/images/career_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

  h3 {
    color: #fff;
  }
}

.section-footer {
  h3 > a {
    color: #000;
  }
  background-color: #EAEDEF;
  .footer-image {
    width: 100%;
  }
  min-height: 50vh;
}

@include media-breakpoint-down(md) {
  .section-hero {
    .hero-image-container {
      background-size: cover !important;
    }
  }
}

.what-we-do-icon {
  height: 5rem;
  margin-bottom: 1rem;
}
